{"parser": "babel-eslint",
"extends": ["airbnb"],
"rules": {
    "max-len": ["error", 120],
    "linebreak-style": 0,
    "arrow-body-style": 2,
    "no-underscore-dangle": 0
},
"globals": {
    "$": true,
    "window": true,
    "document": true,
    "jQuery": true,
    "Blob": true
}}